.header-outer-container {
  width: 100%;
  position: fixed;       
  top: 0;
  left: 0;
  height: 68px;
  z-index: 999;
  background-color: rgb(5, 5, 5);
  transition: background-color 0.3s ease;
}

.header-outer-container.scrolled {
  background-color: black;
}

.header-container {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

/* ===== LEFT ===== */
.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 100px;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  gap: 22px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.nav-menu li:hover {
  color: #e50914;
}


.header-right {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.desktop-icons {
  display: flex;
  margin-right: 70px;
  gap: 20px;
}
.desktop-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;      
  font-size: 26px;
  list-style: none;
  cursor: pointer;
  
}

.dropdown-toggle {
  display: none;
  margin-left: 20px;  
  cursor: pointer;
}

.dropdown-toggle svg {
  color: white;
  font-size: 38px;   
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {

  .desktop-icons {
    display: none;
  }

  .dropdown-toggle {
    display: block;
    margin-right: 30px;
  }

  .nav-menu {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: calc(100vh - 68px);
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    display: none;
    padding-top: 20px;
  }

  .nav-menu.open {
    display: flex;
  }
}

@media (max-width: 600px) {

  .header-container {
    padding: 0 15px;
  }

  .header-left img {
    width: 80px;
  }
}
body {
  background-color: black;
  margin: 0;
  padding-top: 68px;
}
